<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>email ejs template</title>
</head>
<body>
  <h1>Welcome <%= email %>!</h1>
  <h3>this is ejs template</h3>
</body>
</html>